<div class="project">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h1 class="serif bold">
        {{ title }}
      </h1>

      <p>
        {{ description }}
      </p>

      <p>
        <strong>Technologies:</strong>
        {{ technologies }}
      </p>

      {{#if link}}
        <a href="{{ link }}" class="btn btn-primary" target="_BLANK">
          View here
        </a>
      {{/if}}
    </div>
    <div class="col-12 col-lg-6 img-wrapper">
      <img src="/img/projects/{{ image }}" alt="{{ title }}" class="img-fluid" />
    </div>
  </div>
</div>
