<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Config meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Riplo Ventures LLC">

    <!-- Open graph tags and twitter tags -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ siteName }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="twitter:url" content="{{ url }}">

    <!-- Favicon TODO -->

    <!-- Set the page title -->
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}">
    <meta property="twitter:title" content="{{ title }}">

    <!-- Set the page description -->
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="twitter:description" content="{{ description }}">

    <!-- Set the page keywords -->
    <meta name="keywords" content="{{ keywords }}">

    <!-- Set the page image if there is one -->
    <meta property="og:image" content="{{image}}">
    <meta property="twitter:image" content="{{image}}">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|PT+Serif:400,700" rel="stylesheet">

    <!-- App styles -->
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <!-- Wrapper div for the application -->
    <div class="app">
      {{> nav}}

      <!-- App content -->
      <div>
        {{{ body }}}
      </div>

      {{> footer}}
    </div>

    <!-- Javascripts -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!-- Custom scripts -->
    <script type="text/javascript" src="/js/contact.js"></script>
    <script type="text/javascript" src="/js/smooth-scroll.js"></script>
  </body>
</html>
